body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

button, input {
  outline: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 1180px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* header styled start */

.header__sponsors-block {
  background: #231F20;
}

.header__sponsors-block > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__sponsors-block > ul > li > a {
  margin-right: 15px;
  transition: .3s all;
}

.header__sponsors-block > ul > li > a:hover {
  opacity: 0.7;
}

.header__sponsors-block > ul > li > a > img {
  width: 45px;
}

.header__nav {
  width: 100%;
  background-color: #c70101;
}

.header__nav  nav > ul > li > a > img {
  width: 60px;
  height: 60px;
  padding: 5px;
}

.header__nav  nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .header__nav > nav > ul > li {
  display: inline-block;
} */

.header__nav  nav > ul > li > a{
  text-transform: uppercase;
  line-height: 10px;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: .2s all;
}

.header__nav  nav > ul > li > a.active {
  border-bottom: 3px solid #fff;
}

.header__nav  nav > ul > li > a:last-child {
  margin-right: 15px;
}

.header__nav  nav > ul > li > a:hover {
  border-bottom: 3px solid #fff;
}

.header__nav  nav > ul > li:first-child > a:hover{
  border-bottom: none;
}

/* styled header end */

/*preview start*/

.preview {
  height: 100vh;
  background-image: url('../img/main-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.fone {
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
}

.preview .preview__logo {
  max-width: 184px;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

.preview .preview__date {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.preview__timer {
  background: linear-gradient(#414144 50%,#4b4c52 50%);
  max-width: 100px;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  padding: 0.5rem;
}

.preview__timer span {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.preview__info {
  padding-top: 40px;
}

.preview__info ul {
  margin: 15px auto;
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview__info ul li {
  display: flex;
  align-items: center;
}

.preview__info ul .preview__info-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  margin-right: 10px;
}
.preview__info ul .preview__info-img img {
  width: 8rem;
  display: block;
  margin-right: 10px;
} 

.preview__info ul li .vs {
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 5px;
}

.preview a {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  background: #c70101;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 15px;
  text-decoration: none;
  width: 150px;
  cursor: pointer;
  transition: .5s all;
}

.preview a:hover {
  background: #610202;
}

.about__team {
  padding: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.about__team > ul li {
  padding-top: 20px;
}

/*preview end*/

/* club-victorys start */

.club-victorys {
  padding-bottom: 50px;
}

.club-victorys h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 2px;
}

.photo {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url('../img/barclays.jpg');
}

.club-victorys__block {
  width: 33%;
  margin-bottom: 20px;
  transition: .3s all;
}

.club-victorys__block p {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.club-victorys__blocks {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.club-victorys__block:last-child {
  margin: 0 auto;
}

.club-victorys__block:hover {
  transform: scale(1.2);
}

/* club-victorys end */





/* styled footer start */
.footer {
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #231F20;
}

.footer p {
  font-size: 14px;
  color: #a3a3a3;
}



