body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

button, input {
  outline: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1180px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* header styled start */



.header__sponsors-block {
  background: #231F20;
}

.header__sponsors-block > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__sponsors-block > ul > li > a {
  margin-right: 15px;
  transition: .3s all;
}

.header__sponsors-block > ul > li > a:hover {
  opacity: 0.7;
}

.header__sponsors-block > ul > li > a > img {
  width: 45px;
}

.header__nav {
  width: 100%;
  background-color: #c70101;
}

.burger-menu {
  display: none;
}

.menu-blur {
  transform: translate(-200%);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #c70101;
  transition: .5s all;
}

.menu-blur ul {
  text-align: center;
}

.menu-blur a {
  display: block;
  margin-top: 25px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.menu-close {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 30px;
  transition: .5s all;
}

.menu-close::after {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
}

.menu-close::before {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  transform: rotate(-45deg);
}

.header__nav  nav > ul > li > a > img {
  width: 60px;
  height: 60px;
  padding: 5px;
}

.header__nav  nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .header__nav > nav > ul > li {
  display: inline-block;
} */

.header__nav  nav > ul > li > a{
  text-transform: uppercase;
  line-height: 10px;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: .2s all;
}

.header__nav  nav > ul > li > a.active {
  border-bottom: 3px solid #fff;
}

.header__nav  nav > ul > li > a:last-child {
  margin-right: 15px;
}

.header__nav  nav > ul > li > a:hover {
  border-bottom: 3px solid #fff;
}

.header__nav  nav > ul > li:first-child > a:hover{
  border-bottom: none;
}

/* styled header end */

/*preview start*/

.preview {
  height: 100vh;
  background-image: url('../img/main-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fone {
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.preview .preview__logo {
  max-width: 184px;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

.preview .preview__date {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.preview__timer {
  background: linear-gradient(#414144 50%,#4b4c52 50%);
  max-width: 140px;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  padding: 0.5rem;
}

.preview__timer span {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.preview__info {
  padding-top: 40px;
}

.preview__info ul {
  margin: 15px auto;
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview__info ul li {
  display: flex;
  align-items: center;
}

.preview__info ul .preview__info-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  margin-right: 10px;
}
.preview__info ul .preview__info-img img {
  width: 8rem;
  display: block;
  margin-right: 10px;
} 

.preview__info ul li .vs {
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 5px;
}

.preview a {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  background: #c70101;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 15px;
  text-decoration: none;
  width: 150px;
  cursor: pointer;
  transition: .5s all;
}

.preview a:hover {
  background: #610202;
}

.about__team {
  padding: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.about__team > ul li {
  padding-top: 20px;
}

/*preview end*/

/* club-victorys start */

.club-victorys {
  padding-bottom: 50px;
}

.club-victorys h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 2px;
}

.match-preview {
  margin-top: 20px;
  position: relative;
  height: 100vh;
  background: url('../img/matich.jpg') no-repeat;
  background-size: cover;
}

.match-preview__info {
  position: absolute;
  bottom: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
}

.match-preview__gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(
    185deg
    ,rgba(0,0,0,0) 20%,rgba(0,0,0,.9) 80%);
}

.match-preview__info::before {
  content: '';
  position: absolute;
  width: 80px;
  border-top: 3px solid #c81617;
  top: -16px;
}

@keyframes swing {
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(80px);
  }
  
  100% {
    transform: translateX(0px);
  }
}

.match-preview__info:hover {
  animation: swing 1s ease;
}

/* club-victorys end */

/* news start */

.news {
  margin-top: 20px;
  background: #f8f8f8;
}

.news-blocks {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-block {
  position: relative;
  width: 30%;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: 1s all ease;
}

.news-block img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: .5s all ease;
}

.news-block h3, .news-block p{
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
}

.news-block a {
  width: 65%;
  text-align: center;
  color: #000;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-decoration: none;
  transition: .5s all ease;
}

.news-block a:hover {
  background: #c81617;
  border: 1px solid #c81617;
  color: #fff;
}

.news-block p {
  margin-top: 15px;
  margin-bottom: 100px;
}

.news-block:hover  img {
  transform: scale(1.1);
}

/* news end*/



/* shop start */

.shop {
  margin-top: 20px;
  background-image: url('../img/oldtrf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.shop-gradient {
  background-color: rgba(26,26,26,.65);
  height: 100%;
  width: 100%;
}

.shop-title {
  color: #fff;
  padding-top: 70px;
  text-align: center;
  font-size: 4rem;
}

.slider__wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 55%;
  background: #fff;
  border-radius: 10px;
}

.slider__content {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.slide-item {
  position: relative;
  width: 100%;
  flex: 0 0 100%;
}

.slide-item img {
  display: block;
  width: auto;
  max-height: 203px;
  margin: 15px auto;
}

.slide-item h3 {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  line-height: 27px;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 80px;
}

.slide-item a {
  position: absolute;
  border: 1px solid black;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.slide-item a:hover {
  background: #c81617;
  border: 1px solid #c81617;
  color: #fff;
}

.dots span {
  background: #c70101;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  transition: .3s all;
}

.dots span:hover {
  background: #690606;
}

.dot-left {
  position: absolute;
  left: -15px;
  top: 45%;
  transform: translateY(-50%);
}

.dot-right {
  position: absolute;
  right: -15px;
  top: 45%;
  transform: translateY(-50%);
}

.dot-right img {
  transform: rotate(180deg);
}

/* shop end */

/* club-victorys start*/

.club-victorys {
  padding-top: 10px;
}

.club-victorys__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.club-victorys__block-item {
  text-align: center;
  width: 30%;
  cursor: pointer;
  margin-bottom: 10px;
}

.club-victorys__block-item:last-child {
  margin: 0 auto;
}

.club-victorys__block-item img {
  border-radius: 50%;
  transition: .5s all ease;
}

.club-victorys__block-item p {
  font-weight: bold;
}

.club-victorys__block-item:hover img{
  transform: scale(1.2);
}

/* club-victorys end*/


/* styled footer start */
.footer {
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #231F20;
}

.footer p {
  font-size: 14px;
  color: #a3a3a3;
}


@media screen and (max-width: 1050px) {
  .container {
    max-width: 960px;
  }
  
  .preview__info ul{
    width: 80%;
  }


  .match-preview {
    height: 50vh;
  }

  
}

@media screen and (max-width: 770px) {
  .container {
    max-width: 720px;
  }

  .header__nav nav {
    display: none;
  }

  .header__nav .burger-menu {
    display: block;
  }

  .menu {
    position: relative;
    top: 35px;
    left: 80px;
    display: block;
    width: 40px;
    height: 3px;
    background: #fff;
  }

  .menu-active {
    transform: translate(0);
  }

  .menu::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    top: -10px;
    background: #fff;
  }

  .menu::before {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    top: 10px;
    height: 3px;
    background: #fff;
  }

  .preview {
    height: 70vh;
  }

  .preview__info ul {
    width: 95%;
  }

  .news-blocks {
    align-items: normal;
  }

  .shop {
    height: 75vh;
  }
}

@media screen and (max-width: 580px) {
  .container {
    max-width: 360px;
  }

  .menu-blur {
    width: 100%;
  }

  .preview__info ul .preview__info-title {
    font-size: 1rem;
  }

  .preview__info ul .preview__info-img img {
    width: 4rem;
  }

  .news-block {
    margin: 0 auto;
    width: 90%;
  }

  .match-preview {
    height: 30vh;
  }

  .match-preview__info {
    bottom: 1rem;
    font-size: 1rem;
    left: 20px;
  }

  .shop-title {
    font-size: 2rem;
  }

  .slider__wrapper {
    width: 80%;
  }

  .shop {
    height: 105vh;
  }

  #tab-item.active {
    display: flex;
    flex-direction: column;
  }

  .club-victorys__block-item {
    width: 48%;
  }

  .club-victorys__block-item p {
    font-size: 12px;
  }

  .preview__info ul li .vs {
    font-size: 1rem;
  }

  .preview {
    height: 85vh;
  }
}

@media screen and (max-width: 330px) {
  .container {
    width: 300px;
  }

  .preview__info ul .preview__info-img img {
    width: 3rem;
  }

  .shop-title {
    padding-top: 20px;
  }

  .shop {
    height: 115vh;
  }

  .club-victorys__block-item {
    width: 100%;
  }

  .match-preview {
    height: 40vh;
  }

  .preview__info ul .preview__info-title {
    font-size: 0.7rem;
  }

}





